$default-font-size: 1.8rem; //18px

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Nunito', sans-serif;;

$color-primary: #cf0f23;
$color-dark: #151515;
$color-light: #fff;
$color-highlight: #588b8b;

$grid-width: 100rem;
$gutter-horizontal: 6rem;